
#container{
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
ion-header, ion-footer{
  background-color: white;
  border: none;
}
:host-context(.plt-android) ion-header.ios{
  margin-top: 20px;
  background-color: white;
}
#container strong{
  font-weight: 700;
  font-size: 44px;
  color: black;
}
