<ion-header class="ion-padding">
  <h2>Contador Ionic</h2>

</ion-header>
<ion-content [fullscreen]="true">
  <ion-button class="btnPlus" expand="block" (click)="up()" [disabled]="num===10">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="36"
      height="36"
      viewBox="0 0 24 24"
      fill="currentColor"
    >
      <path d="M4.929 4.929a10 10 0 1 1 14.141 14.141a10 10 0 0 1 -14.14 -14.14zm8.071 4.071a1 1 0 1 0 -2 0v2h-2a1 1 0 1 0 0 2h2v2a1 1 0 1 0 2 0v-2h2a1 1 0 1 0 0 -2h-2v-2z" />
    </svg>
  </ion-button>
  <div id="container">
    <strong>  {{num}} </strong>
    @if (num===0){
      <strong id="texto">Numero limite</strong>
    } @else if (num ===10){
      <strong id="textoMaximo">Numero limite</strong>
    }
  </div>
</ion-content>
<ion-footer class="ion-padding ">
  <ion-button expand="block" (click)="down()" [disabled]="num===0" >
    <ion-icon name="chevron-down-outline"></ion-icon>
  </ion-button>
</ion-footer>
