#container{
  background-color: #939394;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container strong{
  font-weight: 700;
  font-size: 44px;
  color: white;
}
