<ion-header class="ion-padding">
  <ion-button expand="block" (click)="up()" [disabled]="num===10">
    <ion-icon name="chevron-up-outline"></ion-icon>
  </ion-button>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <strong>  {{num}} </strong>
    @if (num===0){
      <strong id="texto">Numero limite</strong>
    } @else if (num ===10){
      <strong id="textoMaximo">Numero limite</strong>
    }
  </div>
</ion-content>
<ion-footer class="ion-padding ">
  <ion-button expand="block" (click)="down()" [disabled]="num===0" >
    <ion-icon name="chevron-down-outline"></ion-icon>
  </ion-button>
</ion-footer>
